
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background: #111111;
}

ul {
  padding: 0;
  text-decoration: none;
  margin: 0 auto;
  border-top: 1px #ffffff solid;
}

li {
  list-style: none;
}

.container {
  display: grid;
  align-self: center;
  height: 100%;
}







.title-card {
  background: #111111;
  margin: 5%;
  padding: 0 0 5% 5%;
  opacity: 0.75;
  border-radius: 2% 6% 40%;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: all 1s;
  transition-property: box-shadow, transform;
}

.title-card:hover {
  opacity: 0.85;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: #5e86bf;
  transition: all 0.8s;
  font-weight: 900;
}

a:hover {
  color: #ffffff;
}

.container-bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  align-self: center;
}

.landing-bottom {
  background-image: url('./images/coast.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content-bottom {
  background-color: #111111;
  padding: 0 10% 5%;
}

.contact-card {
  background: #111111;
  margin: 5%;
  padding: 5% 0 3% 0;
  opacity: 0.85;
  border-radius: 1em;
}

.contact-heading {
  color: #ffffff;
  font-size: 2.5vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

.social {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 1em;
}

.link-deco {
  text-decoration: none;
  color: #5e86bf;
  transition: all 0.8s;
  font-weight: 900;
}

.link-deco:hover {
  color: #ffffff;
}

.port-title-card {
  background: #5e86bf;
  margin: 0;
  padding: 0 0 2% 6%;
  border-radius: 1em 1em 0 0;
}

.port-title-text {
  color: #ffffff;
  font-size: 2.25vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  padding-top: 2vh;
  margin: 0 auto;
}

.port-body-card {
  background: #111111;
  margin-bottom: 2vh;
  padding: 0 0 5% 5%;
  border: 2px #5e86bf solid;
  border-radius: 0 0 1em 1em;
}

.norm-btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  padding: 0.3em 1em;
  font-size: 1.5em;
  background-color: #5e86bf;
  color: #ffffff;
  border-radius: 0.25em;
  transition: all 0.8s;
  margin: 2vh;
}

.norm-btn:hover {
  color: #5e86bf;
  background-color: #ffffff;
}

.skill-list {
  display: flex;
  margin-top: 0 auto;
  justify-content: space-between;
  justify-items: left;
}

.avatar {
  margin: 3vh auto;;
  vertical-align: middle;
  width: 50%;
  height: 30em;
  border-radius: 5em;
  background-image: url('./images/avatar.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
}

.icon-spacing {
  margin: 0 1vw;
}

.heavy-text {
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 3em;
}

.span-border {
  display: block;
  height: 5vh;
  width: 100%;
  border-bottom: 1px #ffffff solid;
}

.res-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.res-link {
  color: #ffffff;
  background-color: #5e86bf;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 1.25em 1em 0.2em;
  padding: 10px 55px 10px 55px;
  border-radius: 0.5em;
}

.res-link:hover {
  color: #5e86bf;
  background-color: #ffffff;
}











.navbar {
  background-color: transparent;
  padding: 1% 5% ;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 90%;
  overflow: visible;
}

.navbar-link {
  color: #ffffff;
  font-size: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 0em 0.5em;
  padding: 5px 14px;
  background-color: #5e86bf;
  opacity: 0.9;
  float: right;
  border-radius: 0.25em;
}

.navbar-link:hover {
  color: #5e86bf;
  background-color: #ffffff;
}

.navbrand {
  background: #ffffff;
  text-align: right;
  color: #111111;
  padding: 0.15em 0.4em;
  border-radius: 0.1em;
  opacity: 0.9;
}

.navbrand-text {
  color: #000;
  font-size: 1.5em;
  font-family: 'PT Mono', monospace;
  font-weight: 200;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -0.1em;
}

.navbar-button {
  display: none;
}

.landing {
  display: block;
  position: relative;
  background-image: url('./images/BGalt.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 66%;
}

.landing-card {
  position: absolute;
  top: 15vw;
  left: 5vw;
  background: #111111;
  min-width: 33%;
  min-height: 35%;
  padding: 3vw;
  opacity: 0.75;
  border-radius: 1.5em;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: all 1s;
  transition-property: box-shadow, transform;
}

.landing-card:hover {
  opacity: 0.85;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.fullname {
  color: #ffffff;
  font-size: 4vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 1.25em 0 0.5em;
}

.role {
  color: #ffffff;
  font-size: 2.5vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 0 auto;
}

.location-text {
  color: #ffffff;
  font-family: 'PT Mono', sans-serif;
  font-size: 1.25vw;
  line-height: 1em;
  font-weight: bold;
}

.map-icon {
  margin-right: 1em;
}

.arrow {
  border: solid #ffffff;
  margin: -2em 0 0 5em;
  border-width: 0px 0px 5px 5px;
  display: inline-block;
  padding: 1.5em;
  box-shadow: -2px 3px #111111;
  border-radius: 5%;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.scroller {
  position: absolute;
  top: 75%;
  left: 42%;
}

.scroller-text {
  color: #ffffff;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin-top: 1em;
  letter-spacing: .2em;
  text-shadow: 1px 2px 5px #111111, 1px 1px 0px #111111, -1px -2px 2px #111111 ;
  transition: all 0.5s;
}

.scroller-text:hover {
  transform: scale(1.1);
}

.headings {
  color: #ffffff;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  margin-top: 1em;
  letter-spacing: .2em;
}

.content {
  background-color: #111111;
  padding: 1% 5% ;
  margin: 0 auto;
}

.content-text {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  line-height: 3em;
  padding: 1%;
  margin: 0;
  font-weight: 400;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 2;
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto);
}

.port-one {
  grid-column: 1;
  grid-row: 1;
  transition: all 0.5s;
}

.port-two {
  grid-column: 2;
  grid-row: 1;
  transition: all 0.5s;
}

.port-three {
  grid-column: 1;
  grid-row: 2;
  transition: all 0.5s;
}

.port-one:hover, .port-two:hover, .port-three:hover {
  transform: scale(1.02);
  filter: brightness(120%);
}

.send-btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  border: 0px;
  background-color: #5e86bf;
  color: #ffffff;
  transition: 0.5s;
  margin-left: 4.5em;
}

.send-btn:hover {
  background-color: #ffffff;
  color: #5e86bf;
}

input {
  border-radius: 0.5em;
  border: 0px;
  width: 20em;
  height: 2em;
}

textarea {
  border-radius: 0.5em;
  border: 0px;
  width: 20em;
  height: 20em;
}

@media screen and (max-width: 700px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar {background-color: #111111;}
  .navbar a.navbar-button {
    float: right;
    display: block;
  }
  .landing-card {
    width: 80%;
    height: 50%;
  }
  .fullname {
    font-size: 2.5em;
    margin: 0 0 0.5em;
  }
  .role {
    font-size: 1.5em;
  }
  .location-text {
    font-size: 0.9em;
  }
  .navbrand-text {
    font-size: 1em;
    padding: 0.5em;
    position: absolute;
    top: 0.25em;
  }
  .norm-btn {
    line-height: 3em;
    margin: 0 auto;
  }
  .port-title-text {
    font-size: 1.5em;
  }
  .portfolio-grid {
    display: block;
  }
  .scroller {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .navbar.responsive {
    position: absolute;
    z-index: 9999;
  }
  .navbar.responsive a.navbar-button {
    position: absolute;
    right: 1.5em;
    top: 0.3em;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
    z-index: 9997;
  }
  .navbar-link {
    background-color: transparent;
    margin-top: 1.5em;
    z-index: 9998;
  }
}