
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background: #111111;
}

.container {
  display: grid;
  grid-template-columns: 55% 45%;
  align-self: center;
}

.landing {
  min-height: 150vh;
  background-image: url('./images/BGalt.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
}

.content {
  background-color: #111111;
  padding: 10% 10% 2% ;
  margin: 0;
}

.headings {
  color: #ffffff;
  font-size: 4vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  margin-top: 1em;
  letter-spacing: .2em;
}

.fullname {
  color: #ffffff;
  font-size: 8vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 1em;
}

.role {
  color: #ffffff;
  font-size: 2.5vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 0 auto;
}

.content-text {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  line-height: 3em;
  padding: 1%;
  margin: 0;
  font-weight: 400;
}

.title-card {
  background: #111111;
  margin: 5%;
  padding: 0 0 5% 5%;
  opacity: 0.75;
  border-radius: 2% 6% 40%;
  transform: perspective(1px) translateZ(0);
  transition: all 1s;
  transition-property: transform;
}

.title-card:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: #5e86bf;
  transition: all 0.8s;
  font-weight: 900;
}

a:hover {
  color: #ffffff;
}

.divider {
  min-height: 15vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 7vh;
  background-color: #111111;
}

.divider-text {
  color: #ffffff;
  font-size: 2vw;
  font-family: 'PT Mono', monospace;
  font-weight: 200;
  margin: 0 auto;
  text-align: center;
  letter-spacing: .7em;
}


.container-bottom {
  display: grid;
  grid-template-columns: 55% 45%;
  align-self: center;
}

.landing-bottom {
  background-image: url('./images/coast.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content-bottom {
  background-color: #111111;
  padding: 0 10% 5%;
}

.contact-card {
  background: #111111;
  margin: 5%;
  margin-top: 25%;
  padding: 5% 0 3% 0;
  opacity: 0.80;
  border-radius: 3%;
  transform: perspective(1px) translateZ(0);
  transition: all 1s;
  transition-property: transform;
}

.contact-card:hover {
  opacity: 0.93;
  transform: scale(1.05);
}

.contact-heading {
  color: #ffffff;
  font-size: 2.5vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

.social {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 1em;
}

.port-title-card {
  background: #ffffff;
  margin: 0;
  padding: 0 0 5% 5%;
  transform: perspective(1px) translateZ(0);
  transition: all 1s;
  transition-property: transform;
}

.port-title-text {
  color: #111111;
  font-size: 2.5vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  padding-top: 2vh;
  margin: 0 auto;
}

.port-body-card {
  background: #111111;
  margin-bottom: 2vh;
  padding: 0 0 5% 5%;
  transform: perspective(1px) translateZ(0);
  transition: all 1s;
  transition-property: transform;
  border: 2px #ffffff solid;
}

.norm-btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  padding: 0.3em 1em;
  font-size: 1.5em;
  background-color: #5e86bf;
  color: #ffffff;
  border: 2px #ffffff solid;
  transition: all 0.8s;
}

.norm-btn:hover {
  color: #5e86bf;
  background-color: #ffffff;
}

.skill-box {
  margin-top: 9em;
}

.avatar {
  margin: 3vh auto;;
  vertical-align: middle;
  width: 35vw;
  height: 48vh;
  border-radius: 50%;
  background-image: url('./images/avatar.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-spacing {
  margin: 0 1vw;
}

.heavy-text {
  font-weight: 700;
  letter-spacing: 0.05em;
}

.span-border {
  display: block;
  height: 100vh;
  width: 100%;
  border-bottom: 1px #ffffff solid;
}