
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap');

body {
  background: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-self: center;
}

.landing {
  height: 130vh;
  background-image: url('./images/BGalt.jpg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
}

.content {
  background-color: #111111;
  padding: 10% ;
  margin: 0;
}

.headings {
  color: #ffffff;
  font-size: 3em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  padding-bottom: 0.25em;
  margin: 0;
}

.fullname {
  color: #ffffff;
  font-size: 6em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.role {
  color: #ffffff;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

.about {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  font-weight: 200;
}

.title-card {
  background: #111111;
  margin: 5%;
  padding: 0 0 5% 5%;
  opacity: 0.7;
  border-radius: 2% 6% 15%;
}
